/* When you mouse over the container, fade in the overlay icon*/

.oi {
    font-size: 1.5rem;
    position: absolute;
    top: 70%;
    left: 88%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.product-image {
    max-height: 250px;
    /* width: 100%; */
}

.item-image {
    height: 13rem;
}

@media only screen and (min-width: 600px) {
    .more-products {
        height: 20px;
        position: relative;
        margin: -20px -50px;
        top: 50%;
        left: 50%;
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
}

.categories {
    /* margin-right: 10px; */
    float: left;
}

#items {
    list-style: none;
    padding-left: 1.5rem;
}