
/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
    overflow-x : hidden;
}

#sidebar-wrapper {
    min-height         : 100vh;
    margin-left        : -15rem;

    -webkit-transition : margin .25s ease-out;
    -moz-transition    : margin .25s ease-out;
    -o-transition      : margin .25s ease-out;
    transition         : margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding   : 0.875rem 1.25rem;
    font-size : 1.2rem;
}

#sidebar-wrapper .list-group {
    width : 15rem;
}

#page-content-wrapper {
    min-width : 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left : 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left : 0;
    }

    #page-content-wrapper {
        width     : 100%;
        min-width : 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left : -15rem;
    }
}

/* collapsible list group */
.just-padding {
    padding : 15px;
}

.list-group {
    overflow : hidden;
    padding  : 0;
}

/* .list-group .list-group {
    margin-bottom : 0;
} */

.list-group .list-group-item.sub {
    border-width  : 1px 0 0 0;
    border-radius : 0;
}

.list-groupt > .list-group-item:first-child {
    border-top-width : 0;
}

/* .list-group > .list-group > .list-group-item {
    padding-left : 30px;
} */

.list-group > .list-group-item.sub {
    padding-left : 45px;
}
/*
.list-group-item .io {
  margin-left: 50px;
}
 */
